.btn
{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  color: #f1f5f9;
  background: #059669;
}

.btn-primary 
{
  background: #059669;
  color: white;
}

.btn-secondary 
{
  background: none;
  color: #f1f5f9;
}

.btn-noBg
{
  border-width: 1px;
  border: 1px solid #475569;
  background: transparent;
  color : #475569;
}
/*Button logic goes below :*/

.btn-secondary:focus,
.btn-secondary:active
{
  background: #059669;
}

.btn-noBg:hover,
.btn-noBg:focus
{
  background: #059669;
  color: white; 
  border-color: #059669; /* optional, to match background */
}