<section class="informationContainer">
    <h1>Informations</h1>

    <div class="informationCard card" >

        <div>
            <div class="wrapUserIcon">
                <span class="userIcon"></span>
            </div>
            <div>
                <h2>John Doe</h2>
                <p>Tech solution</p>
                <p>john@gmail.com</p>
            </div>
        </div>

        <button class="informationCardButton btn"><img src="/edit.png" alt="">Modifier</button>
    </div>

    <div class="userDetailsCard card">

        <div>
            <img src="/person.png" alt="user icon">
            <h3>Information personnel</h3>
        </div>

        <div>
            <label>
                Prenom
                <input type="text">
            </label>
            <label>
                Nom
                <input type="text">
            </label>
            <label>
                Email
                <input type="text">
            </label>
        </div>

    </div>

    <form action="" class="companyCard card">

        <div>
            <img src="/company.png" alt="">
            <h3>Mon entreprise</h3>
        </div>
        
        
        <h5>INFORMATION BASIQUE</h5>
        <div>
            <label>
                Nom d'entreprise
                <input type="text">
            </label>
            <label>
                Telephone
                <input type="text">
            </label>
            <label>
                Entreprise Email
                <input type="text">
            </label>
            <label>
                Site internet 
                <input type="text">
            </label>
        </div>

        <h5>ADRESSSE</h5>
        <div>
            <label>
                Adresse
                <input type="text">
            </label>
            <label>
                Code Postal
                <input type="text">
            </label>
            <label>
                Pays
                <input type="text">
            </label>
        </div>

        <h5>INFORMATION LEGALES</h5>
        <div>
            <label>
                Statut
                <input type="text">
            </label>
            <label>
                Capital
                <input type="text">
            </label>
            <label>
                SIREN
                <input type="text">
            </label>
            <label>
                SIRET
                <input type="text">
            </label>
            <label>
                RCS
                <input type="text">
            </label>
            <label>
                TVA
                <input type="text">
            </label>
        </div>

    </form>

    <div class="wrapUserInfoButton">
        <button class="btn-noBg btn">Annuler</button>
        <button class="btn ">Sauvegarder</button>
    </div>

</section>