<section class="modalView">

    <form class="modalContainer" [formGroup]="clientForm" (ngSubmit)="onSubmit()">

        <div>

            <h4>Ajouter un nouveau Client</h4>

            <button 
                (click)="onClose()"
                class="btn btn-transparent">

                <img src="/close.png" alt="fermer">
            </button>
            
        </div>


       <label>
            Nom client/entreprise*
            <input type="text" formControlName="name">
            <app-error-message-on-inputs [control]="clientFormEntries['name']"></app-error-message-on-inputs>
        </label>

        <label>
            Email
            <input type="email" formControlName="email">
            <app-error-message-on-inputs [control]="clientFormEntries['email']"></app-error-message-on-inputs>
        </label>

        <label>
            Phone
            <input type="text" formControlName="tel">
            <app-error-message-on-inputs [control]="clientFormEntries['tel']"></app-error-message-on-inputs>
        </label>

        <label>
            Pays*
            <input type="text" formControlName="country">
            <app-error-message-on-inputs [control]="clientFormEntries['country']"></app-error-message-on-inputs>
        </label>

        <label>
            Code Postal*
            <input type="text" formControlName="postalCode">
            <app-error-message-on-inputs [control]="clientFormEntries['postalCode']"></app-error-message-on-inputs>
        </label>

        <label>
            Adresse*
            <input type="text" formControlName="address">
            <app-error-message-on-inputs [control]="clientFormEntries['address']"></app-error-message-on-inputs>
        </label>

        <div>

            <button class="btn-noBg btn"
                type="button"
                (click)="onClose()">
                Annuler
            </button>

            <button class="btn"
                type="submit"
            >
                Ajouter
            </button>

        </div>

    </form>

</section>