<section class="modalView">

    <form class="modalContainer" >

        <div>

            <h4>Ajouter un nouveau Client</h4>

            <button class="btn btn-transparent">
                <img src="/close.png" alt="">
            </button>
            
        </div>


        <label>
            Nom client/entreprise*
            <input type="text">
        </label>

        <label>
            Email
            <input type="text">
        </label>

        <label>
            Phone
            <input type="text">
        </label>

        <label>
           Pays*
            <input type="text">
        </label>

        <label>
           Code Postal*
            <input type="text">
        </label>

        <label>
           Code Postal
            <input type="text">
        </label>

        <div>
            <button class="btn-noBg btn">Annuler</button>
            <button class="btn">Ajouter</button>
        </div>

    </form>

</section>