<section class="clientContainer">

    <h1>Clients</h1>

    <div class="clientOptions">
        <input class="clientSearch" type="text" placeholder="rechercher un client">
        <button class="btn">Ajouter un client</button>
    </div>

    <div class="WrapClientDashboard">

        <div class="clientDashboard clientDashboardTitle">
            <p>Nom</p>
            <p>Contact</p>
            <p>Location</p>
            <p>Statut</p>
            <p>Actions</p>
        </div>

        <div class="clientDashboard clientRow">

            <div>
                <p>Agriculture & Farming Co</p>
                <p>20/02/2024</p>
            </div>

            <div>
                <p>hello@agriculturefarming.com</p>
                <p>+33 3 88 56 78 90</p>
            </div>

            <div>
                <p>89 Rural Road</p>
                <p>67100, France</p>
            </div>

            <div>
                <div>0 facutres</div>
                <p>27 factures</p>
            </div>

            <div class="clientDashboardButtons">
                <button class="btn btn-transparent">
                    <img src="/edit_grey.png" alt="edit client icon">
                </button>
                <button class="btn btn-transparent">
                    <img src="/delete_red.png" alt="delete user">
                </button>
            </div>

        </div>

        <app-pagination></app-pagination>

    </div>
    
</section>
