.clientContainer
{ 
    color: #475569;
    padding: 50px 30px;
    display: flex;
    gap: 25px;
    flex-direction: column;
}

.clientOptions
{
    display: flex;
    justify-content: space-between;

}
.clientSearch
{
    padding: 8px 16px;
}

.card
{
    color: #475569;
    font-weight: 600;
    background-color:  white;
    border-radius:  4px;
    padding: 24px;
    border-radius: 16px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.WrapClientDashboard
{
    color: #475569;
    font-weight: 600;
    background-color:  white;
    border-radius:  4px;
    border-radius: 16px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    
}
.clientDashboard
{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border-bottom: 1px solid #d1d5db;
}
.clientDashboardTitle
{
    border-radius: 16px 16px 0 0;
    padding: 16px;
    background: #f9f9f9;
}

.clientRow
{
    padding: 16px;
}
.clientRow > div > :nth-child(2) 
{
  font-weight: 300;
}

.clientDashboardButtons img
{
    width: 20px;
}
