<form class="authForm" [formGroup]="form" (ngSubmit)="onSubmit()">

    <app-error-banner [message]="apiErrorMessage"></app-error-banner>
    
    <div>
        <label>
            Prénom
            <input type="text" formControlName="firstName" name="prénom" placeholder="Prénom">    
            <app-error-message-on-inputs [control]="formEntites['firstName']"></app-error-message-on-inputs>
        </label>
        
        
        <label>
            Nom de famille
            <input type="text" formControlName="lastName" name="prénom" placeholder="Nom">    
            <app-error-message-on-inputs [control]="formEntites['lastName']"></app-error-message-on-inputs>
        </label>
        
    </div>

    <label>
        Email
        <input type="text" formControlName="email" name="prénom" placeholder="Email">    
    </label>
    <app-error-message-on-inputs [control]="formEntites['email']"></app-error-message-on-inputs>

    <label>
        Mot de passe
        <input type="password" formControlName="password" name="mot-de-passe" placeholder="••••••••">    
    </label>
    <app-error-message-on-inputs [control]="formEntites['password']"></app-error-message-on-inputs>

    <label>
        Confirmation mot de passe
        <input type="password" formControlName="confirmPassword" name="confirmation-mot-de-passe" placeholder="••••••••">    
    </label>
    <app-error-message-on-inputs [control]="form"></app-error-message-on-inputs>

    <button class="btn" type="submit" [disabled]="form.invalid">Créez un compte</button>

</form>