<form class="authForm" action="">

    <div>
        <label for="">
            Prénom
            <input type="text">    
        </label>
        
        <label for="">
            Nom de famille
            <input type="text">    
        </label>
    </div>

    <label for="">
        Email
        <input type="text">    
    </label>

    <label for="">
        Mot de passe
        <input type="text">    
    </label>

    <label for="">
        Confirmation mot de passe
        <input type="text">    
    </label>

    <button class="btn">Créez un compte</button>

</form>