<form  class="createInvoiceFormContainer" [formGroup]="invoiceForm"  (ngSubmit)="onSubmit()">

    <h1>Créer une facture</h1>

    <div class="createInvoiceCard">

        <p>Détails de la facture</p>

        <div class="wrapInvoiceDetails">

            <label>
                Numéro de facture
                <input type="text" formControlName="invoiceNumber" name="invoice-number" placeholder="F20XX-00000X">
            </label>
            
            <label>
                Date de facturation 
                <input type="date" formControlName="invoiceDate" name="date-de-facturation">
            </label>

            <label>
                Date d'échéance
                <input type="date" formControlName="invoiceDueDate" name="date-d-échéance">
            </label>

        </div>

    </div>
    
    <div class="align-bothInvoiceCard-horizontal">

        <div class="createInvoiceCard">

            <p>Information client</p>

            <div class="wrapInvoiceContact">
                <label>
                    Nom du client
                    <input type="text" formControlName="clientName" name="nom-du-client">
                </label>

                <label>
                    Adresse
                    <input type="text" formControlName="clientAdress" name="adresse-client">
                </label>

                <label>
                    Code postale
                    <input type="number" formControlName="clientPostalCode" name="code-postale-client">
                </label>

                <label>
                    Email
                    <input type="text" formControlName="clientEmail" name="email-client">
                </label>

                <label>
                    Téléphone
                    <input type="text" formControlName="clientPhone" name="telephone-client">
                </label>
            </div>
            



        </div>

        <div class="createInvoiceCard">

            <p>Information entreprise</p>

            <div class="wrapInvoiceContact">

                <label>
                    Nom de votre entreprise
                    <input type="text" formControlName="companyName" name="nom-entreprise">
                </label>

                <label>
                    Adresse
                    <input type="text" formControlName="companyAdress" name="adresse-entreprise">
                </label>

                <label>
                    Code postale
                    <input type="number" formControlName="companyPostalCode" name="code-postale-entreprise">
                </label>
                
                <label>
                    Email
                    <input type="text" formControlName="companyEmail" name="email-entreprise">
                </label>

                <label>
                    Téléphone
                    <input type="text" formControlName="companyPhone" name="telephone-entreprise">
                </label>
                
            </div>

        </div>

    </div>

    <div class="createInvoiceCard" formArrayName="items">

        <p>Produits et services</p>

        <div class="wrapInvoiceProductAndServicesTitle">

            <p>Description</p> <p>Prix unit HT</p> <p>Qt.</p> <p>Total HT</p> <p>TVA %</p> <p></p>

        </div>

        @for(item of items.controls; let idx = $index; track $index)
        {
            <div class="wrapInvoiceProductAndServices"
            [formGroupName]="idx">

                <label for ="item-description">
                    <input type="text" formControlName="itemDescription" name="item-description" placeholder="nom du produit ou service">
                </label>

                <label for ="item-prix-unitaire">
                    <input type="number" formControlName="itemPrice" name="item-prix-unitaire">
                </label>

                <label for ="item-quantité">
                    <input type="number" formControlName="itemQuantity" name="item-quantité">
                </label>

                <label for="item-total-hors-taxe">
                    <input readonly type="number" formControlName="itemHT" name="item-total-hors-taxe">
                </label>

                <label for="item-TVA">
                    <input type="number" formControlName="itemTVA" name="item-TVA">
                </label>

                <button type="button" (click)="removeItem(idx)"></button>

            </div>
        }
        
        <button class="addItemButton" type="button" (click)="addItem()">+ Ajouter</button>
        
    </div>

    <div class="createInvoiceCard">

        <div class="wrapInvoicePreviewTotal">
            <div><p>Total-HT</p> <p>{{ workoutTotal('HT') | currency:'EUR':'symbol':'1.2-2' }}</p></div>
            <div><p>Taxes</p> <p>{{ workoutTotal('TVA') | currency:'EUR':'symbol':'1.2-2' }} </p></div>
            <div><p>Total</p><p>{{ workoutTotal('Total') | currency:'EUR':'symbol':'1.2-2' }} </p></div>
        </div>

    </div>

    <div class="wapFormbuttonSubmit">
        <button class="btn" type="submit">Editer la facture</button>
    </div>


</form>